## install dependencies:
#    pip install -r requirements
## check outdated dependencies:
#    pip list --outdated

Django==1.8.8
pytz
psycopg2==2.6.1  # postgreSQL 
django-pipeline==1.5.4
django-autoslug==1.8.0
awesome-slugify==1.6.5
# unicode-slugify==0.1.3
django-parler==1.5.1
django-ckeditor==5.0.2
pillow==3.0.0
django-taggit==0.17.6
django-taggit-autosuggest==0.2.8
# django-admin-sortable==2.0.7

# django-filer==0.9.12
# easy-thumbnails==2.3
sorl-thumbnail==12.3

WeasyPrint==0.24

redis==2.10.5

Whoosh==2.7.0
# bleach==1.4.2
