<!DOCTYPE html>
{% load i18n parler_tags staticfiles smartpages pipeline %}

{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block site_title %}Space Scoop{% endblock %}</title>

    <!-- favicons http://realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicons/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon-180x180.png"/>
    <link rel="icon" type="image/png" href="/static/favicons/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/static/favicons/android-chrome-192x192.png" sizes="192x192"/>
    <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/static/favicons/favicon-16x16.png" sizes="16x16"/>
    <link rel="manifest" href="/static/favicons/manifest.json"/>
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#03709c"/>
    <meta name="apple-mobile-web-app-title" content="Space Scoop"/>
    <meta name="application-name" content="Space Scoop"/>
    <meta name="msapplication-TileColor" content="#03709C"/>
    <meta name="msapplication-TileImage" content="/mstile-144x144.png"/>
    <meta name="theme-color" content="#03709C"/>
    
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Bowlby+One+SC&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa:300&subset=latin,greek,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    {% load pipeline %}{% stylesheet 'styles' %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% block extra_head %}{% endblock %}    
  </head>
  <body class="{% block extra_body_class %}{% endblock %}">
    <div>
      
    </div>
    <div class="container-fixed">
      <div id="left-icons" aria-haspopup="true">
        {% block homelink %}<div class="homelink"><a href="{% url 'home' %}"><img class="large" src="{% static 'img/buttons/home.svg' %}"/></a></div>{% endblock %}
        <div class="button-link gallery">
          <a href="{% url 'scoops:list' %}">
            <div class="off"><div class="icon"></div></div>
            <div class="on"><div class="left"></div><div class="title">{% trans 'Pictures' %}</div><div class="right"></div></div>
          </a>
        </div>
        <div class="button-link glossary">
          <a href="{% url 'glossary:list' %}">
            <div class="off"><div class="icon"></div></div>
            <div class="on"><div class="left"></div><div class="title">{% trans 'Space Words' %}</div><div class="right"></div></div>
          </a>
        </div>
        <div class="button-link categories">
          
            <div class="off"><a href="{% url 'categories:list' %}"><div class="icon"></div></a></div>
            <div class="on"><a href="{% url 'categories:list' %}"><div class="left"></div><div class="title">{% trans 'Topics' %}</div><div class="right"></div></a></div>
          
        </div>
      </div>

      <div id="right-icons">
        <div id="search-bar">
          <div class="off"></div>
          <div class="on"><form action="{% url 'search' %}" method="get" id="search_form"><input id="id_q" name="q" type="text" value="{{ form.cleaned_data.q }}" placeholder="{% trans 'Search' %}"><!-- {{ form.q }} --></form></div>
        </div>
        
        <a href="{% url 'search' %}"><img src="{% static 'img/buttons/search.svg' %}"/></a>
        <img id="laguage_selector" src="{% static 'img/buttons/language.svg' %}"/>
        <div id="languages_menu">
          <ul>
            {% for lang_code, title in LANGUAGES %}
                {% get_language_info for lang_code as lang %}
                {% get_translated_url lang_code as tr_url %}
                {% if tr_url %}<li{% if lang_code == LANGUAGE_CODE %} class="is-selected"{% endif %}><a href="{{ tr_url }}" hreflang="{{ lang_code }}" title="{{ title }}">{{ lang.name_local|capfirst }}</a></li>{% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

{% block top %}{% endblock %}

{% block content %}{% endblock %}

      <div id="more-info" class="row">
        <h2>{% trans 'Still curious? Learn more...' %}</h2>
        <div class="col-md-3"><a href="{% smartpage_url 'about' %}"><img src="{% static 'img/resources/resource-space-scoop.svg' %}" /></a><p>{% trans 'What is Space Scoop?' %}</p></div>
        <div class="col-md-3"><a href="http://www.unawe.org/"><img src="{% static 'img/resources/resource-unawe.svg' %}" /></a><p>{% trans 'Discover more Astronomy' %}</p></div>
        <div class="col-md-3"><a href="http://www.space-awareness.org/"><img src="{% static 'img/resources/resource-space-awareness.svg' %}" /></a><p>{% trans 'Inspiring a New Generation of Space Explorers' %}</p></div>
        <div class="col-md-3"><a href="{% url 'partners:list' %}"><img src="{% static 'img/resources/resource-partners.svg' %}" /></a><p>{% trans 'Space Scoop Friends' %}</p></div>
      </div>

      <div class="row contact-us">
        <h2 class="comfortaa">{% trans 'Contact Us' %}</h2>
      </div>

    </div><!-- /.container -->

    <div id="earthscape">
      <div class="container">
        <img class="earthscape" src="{% static 'img/earthscape-rocket.svg' %}" />
        <!-- <img class="earthscape" src="{% static 'img/earthscape/earthscape-text-'|add:LANGUAGE_CODE|add:'.svg' %}" /> -->
        <div class="earthscape" style="background-image:url({% static 'img/earthscape/earthscape-text-'|add:LANGUAGE_CODE|add:'.svg' %});"></div>

        <img class="earthscape rotate" src="{% static 'img/earthscape.svg' %}" />
        <div id="social-icons">
          <a href="{% url 'newsletter:subscribe' %}"><img src="{% static 'img/social/newsletter.svg' %}"></a>
          <a href="http://twitter.com/unawe" target="_blank"><img src="{% static 'img/social/twitter.svg' %}"></a>
          <a href="http://instagram.com/space_awe/" target="_blank"><img src="{% static 'img/social/instagram.svg' %}"></a>
          <a href="http://www.facebook.com/unawe" target="_blank"><img src="{% static 'img/social/facebook.svg' %}"></a>
        </div>
        <div id="sponsors">
          <div>
            <img class="small" src="{% static 'img/sponsors/eu.png' %}" />
            <a href="http://www.space-awareness.org/" target="_blank"><img src="{% static 'img/sponsors/spaceawareness.png' %}" /></a>
            <a href="http://www.unawe.org/" target="_blank"><img src="{% static 'img/sponsors/unawe.png' %}" /></a>
            <a href="http://www.lcogt.org/" target="_blank"><img src="{% static 'img/sponsors/lcogt.png' %}" /></a>
            <a href="http://www.nao.ac.jp/en/" target="_blank"><img src="{% static 'img/sponsors/naoj.png' %}" /></a>
            <a href="http://www.eso.org/" target="_blank"><img src="{% static 'img/sponsors/eso.png' %}" /></a>
          </div>
          <div>{% trans "This website was produced by funding from the European Community's Horizon 2020 Programme under grant agreement n° 638653" %}</div>
        </div>
      </div>
    </div>

{% javascript 'scripts' %}
    <script>
    console.log('test',jQuery)
	jQuery(document).ready(function(){
		jQuery('.slide-featured').slick({
			autoplay: true,
			// mobileFirst: true,
			prevArrow: '<div><img class="slick-prev" src="{% static 'img/slide/arrow-image-prev.svg' %}"></div>',
			nextArrow: '<div><img class="slick-next" src="{% static 'img/slide/arrow-image-next.svg' %}"></div>',
			dots: false, //TODO
			pauseOnDotsHover: true,
		});
		jQuery('.slide-categories').slick({
			autoplay: false,
			// infinite: false,
			// mobileFirst: true,
			pauseOnDotsHover: true,
			slidesToShow: 6,
			slidesToScroll: 6,
			prevArrow: '<div><img class="slick-prev" src="{% static 'img/slide/arrow-fat-prev.svg' %}"></div>',
			nextArrow: '<div><img class="slick-next" src="{% static 'img/slide/arrow-fat-next.svg' %}"></div>',
		});

		/* left menu items grow on hover */
		jQuery('.button-link div').hover(function() {
			if(jQuery(this).hasClass('off')) {
				jQuery('#left-icons').width('100%');
				jQuery('#left-icons').find('.on').hide();
				jQuery('#left-icons').find('.off').show();
				jQuery(this).parent().find('.on').show();
				jQuery(this).hide();
			}
		}, function() {
			if(jQuery(this).hasClass('on')) {
				jQuery(this).parent().find('.off').show();
				jQuery(this).hide();
				console.log('a');
				if (jQuery('#left-icons').find('.on:visible').length == 0) {
					jQuery('#left-icons').width(90);
				}
			}
		});
		/* search box is displayed on hover */
		if (jQuery('body.search-page').length == 0) {
			jQuery('#search-bar').hover(function() {
					jQuery('#search-bar .on').show();
					jQuery('#search-bar .off').hide();
					jQuery('#search-bar input').focus();
				}, function() {
					jQuery('#search-bar .off').show();
					jQuery('#search-bar .on').hide();
				});
		}

		jQuery('.glossary').tooltip({
			'placement': 'bottom',
		});
});
    </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69659340-1', 'auto');
  ga('send', 'pageview');

</script>
{% block extra_js %}{% endblock %}    

  </body>
</html>
