// Core variables and mixins
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

// Reset and dependencies
@import 'bootstrap/normalize';
// @import 'bootstrap/print';
// @import 'bootstrap/glyphicons';

// Core CSS
@import 'bootstrap/scaffolding';
// @import 'bootstrap/type';
// @import 'bootstrap/code';
@import 'bootstrap/grid';
// @import 'bootstrap/tables';
// @import 'bootstrap/forms';
// @import 'bootstrap/buttons';

// Components w/ JavaScript
// @import "bootstrap/modals";
@import "bootstrap/tooltip";
// @import "bootstrap/popovers";
// @import "bootstrap/carousel";

// Utility classes
// @import "bootstrap/utilities";
// @import "bootstrap/responsive-utilities";


$font-bowlby: 'Bowlby One SC', cursive;
$font-comfortaa: 'Comfortaa', sans-serif;
$font-dosis: 'Dosis', sans-serif;

$blue: #036F9E;
$blue-2: #01A9E0;
$pink: #DB02BC;
$green: #42D400;
$orange: #FB7505;
$light-blue: #E2F2F8; 
$light-blue-2: #86C2C8;
$light-blue-3: #5DC3E2;
$light-orange: #F0BC9E;
$background-color: $blue;
$background-container-color: #FFF;

$container-width: 880px;

body {
    background-color: $background-color;
    padding-left: 10px;
    padding-right: 10px;
    font-family: $font-dosis;
    font-size: 18px;
    color: $blue;

    a {
        color: $light-blue-3;
    }
}
.container {
    background-color: $background-container-color;
    width: $container-width;

    .row {
        padding-left: 100px;
        padding-right: 100px;

    }

    .row > p > img {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: $screen-sm-min) {
    body {
        background-image: url(../img/background.png);
        background-color: $background-color;
        background-position: 50% 0%;
        background-size: 100% auto;
        /*background-repeat: repeat-y fixed;*/
        background-attachment: fixed;
    }
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.container-fixed {
    @extend .container;
    // see http://salomvary.github.io/position-fixed-horizontally-centered.html
    // and http://stackoverflow.com/questions/3157372/css-horizontal-centering-of-a-fixed-div
    position: fixed;
    z-index: 289;
    left: 0;
    right: 0;
    margin: auto;
    // or:
    // position: fixed;
    // left: 50%; 
    // margin-left: -$container-width/2;
    top: 0px;
    // #left-icons {
    //     position: absolute;
    //     top: 0px;
    //     left: -45px;
    //     font-family: $font-bowlby;
    //     font-size: 24px;
    //     a {
    //     }
    //     img.large {
    //         margin-left: -35px;
    //         height: 160px;
    //     }
    //     .button-link {
    //         display: block;
    //         margin-top: 14px;
    //         width: 90px;
    //         height: 90px;
    //         // text-indent: -99999px;
    //         &.articles { background: url('../img/buttons/gallery.svg') bottom left; }
    //         &.glossary { background: url('../img/buttons/glossary.svg') bottom left; }
    //         &.categories { background: url('../img/buttons/categories.svg') bottom left; }
    //     }
    //     .button-link:hover {
    //         width: 270px;
    //         height: 90px;
    //         color: white;
    //         text-decoration: none;
    //         padding-top: 26px;
    //         padding-left: 90px;
    //         &.articles { 
    //             background: url('../img/buttons/gallery-on.svg') bottom left; 
    //             &:before {
    //                 content: 'Pictures';
    //             }
    //         }
    //         &.glossary { 
    //             background: url('../img/buttons/glossary-on.svg') bottom left; 
    //             &:before {
    //                 content: 'Space Words';
    //             }
    //         }
    //         &.categories { 
    //             background: url('../img/buttons/categories-on.svg') bottom left; 
    //             &:before {
    //                 content: 'Topics';
    //             }
    //         }
    //     }

    // }
    #left-icons {
        position: absolute;
        // width: 100%;
        top: 0px;
        left: -45px;
        boder: solid thin black;
        .homelink {
            height: 160px;
            img {
                position: absolute;
                top: 0;
                left: 0;
                margin-left: -35px;
                height: 160px;
            }
        }
        .button-link {
            @extend .clearfix;
            position: relative;
            height: 90px;
            margin-top: 14px;
            font-family: $font-bowlby;
            font-size: 24px;
            a {
                color: white;
            }
            .off {
                .icon {
                    float: left;
                    background-repeat: no-repeat;
                    background-position: top right;
                    height: 90px;
                    width: 90px;
                }
            }
            .on {
                position: absolute;
                top: 0;
                left: 0;  // rtl
                display: none;
                .left {
                    float: left;
                    background-repeat: no-repeat;
                    background-position: top right;
                    height: 90px;
                    width: 77px;
                }
                .title {
                    float: left;
                    height: 90px;
                    min-width: 100px;
                    padding-top: 26px;
                    padding-left: 10px;
                    padding-right: 2px;
                    text-align: center;
                    // left: 150px;
                    // border: solid thin black;

                }
                .right {
                    float: left;
                    background-repeat: no-repeat;
                    background-position: top left;
                    height: 90px;
                    width: 50px;
                }
            }
            &.gallery {
                .off .icon { background-image: url('../img/buttons/gallery.svg'); }
                .on {
                    .left { background-image: url('../img/buttons/gallery-on-left.svg'); }
                    .title { background-image: url('../img/buttons/gallery-on-middle.svg'); }
                    .right { background-image: url('../img/buttons/gallery-on-right.svg'); }
                }
            }
            &.glossary {
                .off .icon { background-image: url('../img/buttons/glossary.svg'); }
                .on {
                    .left { background-image: url('../img/buttons/glossary-on-left.svg'); }
                    .title { background-image: url('../img/buttons/glossary-on-middle.svg'); }
                    .right { background-image: url('../img/buttons/glossary-on-right.svg'); }
                }
            }
            &.categories {
                .off .icon { background-image: url('../img/buttons/categories.svg'); }
                .on {
                    .left { background-image: url('../img/buttons/categories-on-left.svg'); }
                    .title { background-image: url('../img/buttons/categories-on-middle.svg'); }
                    .right { background-image: url('../img/buttons/categories-on-right.svg'); }
                }
            }
        }
    }
    #right-icons {
        position: absolute;
        top: 0px;
        right: -30px;
        width: 60px;
        padding-top: 30px;
        img {
            padding: 4px 0;  //rtl
        }
    }
    #search-bar {
        position: absolute;
        right: 0;
        height: 60px;
        padding: 4px;
        margin-right: -4px;
        &:hover {
            width: 217px;
        }
        div {
            position: absolute;
            right: 0;
            height: 60px;

        }
        .off {
            width: 60px;
            background-image: url('../img/buttons/search.svg');
        }
        .on {
            display: none;
            width: 217px;
            background-image: url('../img/buttons/search-on.svg');
        }
        input {
            border: none;
            background-color: transparent; // #AADE66;
            margin: 14px 20px;
            width: 140px;
            &:focus {
                outline-width: 0;
            }
            &::-webkit-input-placeholder { color: white; opacity: 0.8; }
            &:-moz-placeholder { color: white; opacity: 0.8; }
            &::-moz-placeholder { color: white; opacity: 0.8; }
            &:-ms-input-placeholder { color: white; opacity: 0.8; }
        }
    }

}
body.search-page {
    #search-bar {
        width: 217px;
        .off { display: none; }
        .on { display: block; }
    }
}




.comfortaa {
    font-family: $font-comfortaa;
}

#article-slider {
    // background-color: $light-blue;
    padding: 0;
    z-index: 0;
}

#more-info {
    background-color: $light-blue;
    margin-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    img {
        width: 80%;
    }
}

.slide-categories {
    margin-bottom: 0;
    height: 153px;
    .category-icon {
        width: 90px;
        margin: auto;
    }
    a {
        color: inherit;
        text-decoration: none;        
    }
    .title {
        text-align: center;
        margin-top: 1em;
    }    
    .slick-prev {
        left: 50px;
        z-index: 100;
    }
    .slick-next {
        right: 30px;
    }
    .slick-prev, .slick-next {
        top: 42px;
        width: 35px; height: 35px;
    }
    .slick-list {
        direction: ltr;
    }
}



$earthscape-growth-factor: .34;
#earthscape {
    height: 0;
    .container {
        position: relative;
        height: 460px;
        // border: solid black;
        overflow: hidden;
        .earthscape {
            // padding-top: 20px; // 20px to avoid clipping of some shapes
            position: absolute;
            top: 0;
            left: -$container-width*($earthscape-growth-factor/2);
            right: -$container-width*($earthscape-growth-factor/2);
            overflow: hidden;
            width: $container-width*(1+$earthscape-growth-factor);
            height: $container-width*(1+$earthscape-growth-factor);
            margin-left: auto;
            margin-right: auto;
            &.rotate {
                // -moz-animation:spin 640s linear infinite;
                -webkit-animation:spin 640s linear infinite;
                animation:spin 640s linear infinite;                
            }
        }
        #social-icons {
            position: absolute;
            bottom: 120px;
            left: 0; right: 0;
            margin: auto;
            text-align: center;
            img {
                height: 70px;
                width: 70px;
                padding: 8px;
            }
        }
    }
}
// @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


h1 {
    font-family: $font-bowlby;
}
h2 {
    font-family: $font-comfortaa;
    text-align: center;
    margin-bottom: 1.5em;
}


#frontispiece {
	//background-color: #4292B2; // xmas
	.background {
		position: absolute;
		left: 0;
		width: 100%;
		height: 407px;
		background-size: $container-width auto;
		background-repeat: no-repeat;  
		img {
			width: 100%;
		}      
	}
    z-index: 1; // this allows for the background to spill down. like, icicles
    // background-image: url(../img/frontispiece/background.svg);
    // background-size: $container-width auto;
    // background-repeat: no-repeat;        
    position: relative;
    height: 407px;
    $img-size: 360px;
    $rotate-speed: 320s;
    .frontispiece-img {
        height: $img-size; width: $img-size;
        margin: auto;        
        .static {
            position: absolute;
            top: 0;
            height: $img-size; width: $img-size;
            background-image: url(../img/frontispiece/image-static.svg);
            // background-image: url(../img/frontispiece/image-static-xmas.svg);	// xmas
            background-repeat: no-repeat;
        }
        .rotate {
            position: absolute;
            top: 0;
            height: $img-size; width: $img-size;
            background-image: url(../img/frontispiece/image-moving.svg);
            background-repeat: no-repeat;
            -webkit-animation:spin $rotate-speed linear infinite;
            -moz-animation:spin $rotate-speed linear infinite;
            animation:spin $rotate-speed linear infinite;                
        }
    }

    // #logo {
    //     width: 500px;
    //     margin: auto;
    //     img {
    //         height: 500px;
    //         width: 500px;
    //         margin-top: -50px;
    //         margin-bottom: -40px;
    //     }
    // }
    .slogan {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        font-family: $font-comfortaa;
        text-align: center;
        // margin-top: -20px;
        padding-bottom: 40px;
        font-size: 20px;
    }
}

.home-feature {
    background-size: 100% 100%;
    position: relative;
    min-height: 410px;
    .title {
        position: absolute;
        left: 25px;
        max-width: 700px;
        bottom: 50px;
        // font-family: $font-bowlby;
        font-weight: bold;
        font-size: 24px;
        color: white;
        text-shadow: 2px 2px black;

    }
    .date {
        position: absolute;
        left: 25px;
        bottom: 30px;
        font-size: 16px;
        color: white;
        text-shadow: 1px 1px black;
    }
    .categories {
        position: absolute;
        right: 15px;
        bottom: 10px;
        text-align: right;
        img {
            height: 60px; width: 60px;
            padding-left: 10px;
            display: inline-block;
        }
    }
}

.slide-featured {
    .slick-prev {
        left: 0px;
        z-index: 100
    }
    .slick-next {
        right: 0px;
    }
    .slick-prev, .slick-next {
        top: 175px;
        width: 60px; height: 60px;
    }
    .slick-list {
        direction: ltr;
    }
}

.page-down-arrow {
    text-align: center;
    img {
        height: 50px; width: 50px;
    }
}

// .slick-dots {
//     top: 0px;
//     li {
//         height: 20px;
//         width: 20px;
//         button {
//             height: 20px;
//             width: 20px;
//             &:hover, &:focus {
//                 &:before {
//                     content: url(../img/slide/dot-full.svg);
//                     opacity: 100%;
//                 }
//             }
//             &:before {
//                 content: url(../img/slide/dot-empty.svg);
//                 opacity: 100%;
//                 width: 20px;
//                 height: 20px;
//                 // font-family: $slick-font-family;
//                 // font-size: $slick-dot-size;
//                 line-height: 20px;
//             }
//         }
//         &.slick-active button:before {
//             content: url(../img/slide/dot-full.svg);
//             opacity: 100%;
//             // color: $slick-dot-color-active;
//             // opacity: $slick-opacity-default;
//         }
//     }
// }


.article-title {
    padding-top: 40px;
    padding-bottom: 20px;
    .title {
        font-size: 40px;
        font-weight: bold;
    }
    .date {
        font-size: 16px;
    }
    .categories {
        img {
            height: 70px; width: 70px;
            padding-left: 10px;
            display: inline-block;
        }
    }
}

.left {
    float: left;
}
.right {
    float: right;
}


.coolfact {
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    background-color: $blue;
    color: white;
    .title {
        font-family: $font-bowlby;
        font-size: 32px;
        img {
            height: 32px;
            margin-left: -10px; 
        }
    }
    .text {
        opacity: .7;
        font-size: 22px;
    }
}

.originalnews {
    padding-top: 30px;
    .text {
        padding-top: 10px;
    }
}

.downloads {
    position: relative;
    height: 110px;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: dotted 2px $blue;
    border-radius: 10px;
    font-family: $font-comfortaa;
    .image, .pdf {
        display: table;
        padding: 10px 5px;
        .table-row {
            display: table-row;
            .table-cell {
                display: table-cell;
            }
        }

    }
    .image, .pdf {
        img {
            height: 70px;
        }
        .text {
            vertical-align: middle;
            padding: 0 20px;
            max-width: 100px;
        }
    }
    .share {
        padding-right: 20px;
        .title {
            font-family: $font-bowlby;
            color: $light-blue-2;
            text-align: right;
            font-size: 20px;
            padding-bottom: 10px;
        } 
        img {
            height: 40px;
            margin-left: 10px;
            cursor: pointer;
        }
    }


}

#languages_menu {
    display: none;
    position: relative;
    float: right;
    clear: both;
    font-size: 20px;
    background: $light-blue-3;
    border-radius: 10px;
    padding: 4px;
    margin-top:4px;
    max-height: 300px;
    overflow: scroll;
    ul {
        list-style: none;
        padding: 0;
        text-align: center;
        a {
            text-decoration: none;
            color: white;
            font-family: $font-comfortaa;
            display:block;
            margin:4px;
            &:hover {
                color:#0086C6;
            }
        }
    }
}

.article-list-legend {
    padding-top: 10px;
    padding-bottom: 20px;
    .title {
        font-family: $font-dosis;
        font-size: 16px;
        font-weight: bold;
        a {
            color: $blue;
            &:hover {
                color: $blue;
                text-decoration: none;
            }
        }
    }
    .date {
        float: right;
        font-size: 14px;
        padding-left: 10px;
    }
}

.article-list {
    .grid-item {
        width: 320px;
        position: relative;
        overflow: hidden;
        .legend {
            @extend .article-list-legend;
        }
        .categories {
            position: absolute;
            width: 49px;
            top: 8px; right: 4px;
            img {
                height: 45px; width: 45px;
                padding-left: 4px;
                padding-bottom: 4px;
                display: inline-block;
            }
        }
    }
}


.category-list {
    img {
        height: 140px; width: 140px;
        padding: 10px;
        opacity: .5;
        &:hover {
            opacity: 1;  
        }
    }
    .title {
        padding: 10px;
        text-align: center;
        font-size: 24px;
    }
}

.glossary-list-entry {
    margin-top: 20px;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .title {
        font-family: $font-bowlby;
        color: $pink;
        padding-right: 4px;
    }
}


.page-title {
    padding-top: 40px;
    padding-bottom: 20px;
    .entry-title {
        font-size: 36px;
        font-weight: bold;
        img {
            height: 60px;
            margin-right: 10px;
        }
    }
    .section-title {
        float: right;
        font-family: $font-bowlby;
        color: $blue;
        font-size: 40px;
        padding-bottom: 30px;
        &.gallery {
            color: $blue-2;
        }
        &.category {
            color: $green;
        }
        &.glossary {
            color: $pink;
        }
        &.newsletter {
            color: $orange;
        }
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}

.random-scoop-title {
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: $font-bowlby;
    font-size: 32px;
    background-image: url(../img/dotted-line-right.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 50% auto;
    .text {
        float: left;
        padding-right: 1em;
        background-color: white;
    }
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
.inline-scoop {
    .legend {
        @extend .article-list-legend;
    }
}

.warning {
    padding: 10px;
    margin-top: 10px;
    background-color: beige;
}


a.glossary {
    color: $pink;
    &:hover {
        color: $pink;        
    }
    // .tooltip-arrow {background-color: #f00;}

}

a.glossary + .tooltip > .tooltip-inner { 
    background-color: $pink; 
    font-family: $font-dosis;
    font-size: 16px;
    padding: 8px;
}
a.glossary .tooltip-arrow { border-top-color: $pink; background-color: transparent ; }

.tooltip.bottom .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: $pink;
    border-width: 0 5px 5px;
}


#sponsors {
    position: absolute;
    bottom: 4px;
    margin-left: 100px; 
    margin-right: 100px; 
    font-size: 13px;
    text-align: center;
    img {
        height: 64px;
        padding-bottom: 6px;
        &.small {
            height: 32px;
        }
    }
}

.contact-us {
    padding-top: 40px;
}

.partner-item {
    padding-top: 100px;
    .title {
        font-size: 40px;
        font-weight: bold;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
    .description {
        padding-bottom: 20px;
    }
    .logo {
        float: right;
        margin: 10px 0;
    }
}

.buffer {
    min-height: 70px;
}


#mc_embed_signup {
    .newsletter-call {
        font-size: 32px;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 80px;
    }
    .mc-field-group {
        background-color: $light-orange;
        border-radius: 20px;
        padding-left: 30px; padding-right: 30px;
        padding-top: 10px; padding-bottom: 10px;
        margin-bottom: 30px;
        color: white;
        input {
            background-color: $light-orange;
            border: none;
            font-family: $font-comfortaa;
            font-size: 24px;
            width: 100%;
            &::-webkit-input-placeholder { color: white; }
            &:-moz-placeholder { color: white; opacity: 1; }
            &::-moz-placeholder { color: white; opacity: 1; }
            &:-ms-input-placeholder { color: white; }
        }
    }
    .mc-submit {
        padding-top: 100px;
        img {
            height: 70px;
            vertical-align: top;
        }
        input[type=submit] {
            height: 70px;
            border: none;
            background: $orange;
            border-radius: 30px;
            font-family: $font-bowlby;
            font-size: 38px;
            color: white;
            padding-left: 40px; padding-right: 40px;
        }
    }
}

@import "langs";
